<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="container">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <%
          let prev_page = parseInt(page) - 1;
          if(prev_page <= 0) {
            prev_page = 1;
          }
          else {

          }
        %>
        <%
          let next_page = parseInt(page) + 1;

          if(next_page >= total_page) {
            next_page = total_page;
          }
          else {

          }
        %>
        <table class="table table-striped">
          <% for(let i=0; i < tickets.length; i++) { %>
            <% let id = tickets[i].id; %>
            <tr>
              <td><%= id %></td>
              <td><%= tickets[i].status %></td>
              <td><a href="/tickets/<%= id %>"><%= tickets[i].subject %></a></td>
            </tr>
          <% } %>
        </table>

        <p>
          <span><%= `${total_ticket_num} tickets in total` %>, <%= `${per_page} in this page` %></span>
          <a href=<%=`/?page=${prev_page}`%> >Prev</a> | <a href=<%=`/?page=${next_page}`%> >next</a>
        </p>
      </div>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
