<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="container">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <h3>Mobile ticket viewer</h3>

        <%
          let prevPage = parseInt(page) - 1;
          if(prevPage <= 0) {
            prevPage = 1;
          }
          else {

          }
        %>
        <%
          let nextPage = parseInt(page) + 1;

          if(nextPage >= totalPage) {
            nextPage = totalPage;
          }
          else {

          }
        %>
        <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Subject</th>
          </tr>
          <% for(let i=0; i < tickets.length; i++) { %>
            <% let id = tickets[i].id; %>
            <tr>
              <td><%= id %></td>
              <td><%= tickets[i].status %></td>
              <td><a href="/tickets/<%= id %>?myAccessToken=<%= myAccessToken %>"><%= tickets[i].subject %></a></td>
            </tr>
          <% } %>
        </table>

        <p>
          <span><%= `${totalTicketNum} tickets in total` %>, <%= `${perPage} in this page` %></span><br/>
          <a href=<%=`/?page=${prevPage}&myAccessToken=${myAccessToken}`%> >Prev</a> | <a href=<%=`/?page=${nextPage}&myAccessToken=${myAccessToken}`%> >next</a>
        </p>
      </div>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>
